.combobox {
    margin-top: 5vh;
    flex-direction: column;
    width: 80%;
}

.combobox > h1 {
    margin: 0 auto 1vh 0;
    font-size: 0.75rem;
}

.combobox-input-wrapper {
    height: 10vh;
}

.search-icon {
    justify-content: center;
    height: 5vh;
    width: 17.5%;
    color: green;
    border: 1px solid rgb(155, 155, 155);
    border-right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}

.search-icon * {
    font-size: 1.25rem;
}

.combobox-input {
    text-indent: 5px;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    height: 5vh;
    width: 100%;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 0 0.25rem 0.25rem 0;
}

.combobox-popover {
    z-index: 3;
}

@media (max-width: 25rem) {
    .search-icon { display: none !important; }
}