.footer {
    padding: 5vh 0;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 5vh;
    background: black;
    border-top: 3px solid darkgreen;
}

.hours, .contact {
    margin-left: 10%;
    margin-bottom: auto;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2vh;
    height: 100%;
    color: grey;
}

.hours-label, .contact-label {
    margin: 0.5vh 0;
    margin-right: auto;
    column-gap: 0.75vw;
    color: rgb(180, 180, 180);
}

.hours-label > span, .contact-label > span, .fire-icon {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    font-weight: bold;
    font-style: oblique;
}

.fire-icon { color: red; }

.hours > div, .contact > div {
    margin-right: auto;
    justify-content: center;
    font-size: clamp(0.875rem, 1vw, 1rem);
    color: rgb(141, 141, 141);
}

.contact > div > span {
    font-size: clamp(0.875rem, 1vw, 1rem);
}

.mail-icon, .phone-icon, .location-icon {
    margin-right: max(1vw, 0.5rem);
    font-size: 1.25rem;
}
