.header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.header-scroll {
    position: fixed;
    padding: 1vh 2vw;
    inset: 0 auto auto 0;
    justify-content: space-around;
    column-gap: 5vw;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgb(190, 190, 190);
    z-index: 1;
}

.logo {
    height: 15vh;
    width: 15vh;
}

.logo-image {
    height: 100%;
    width: 100%;
}

.nav {
    justify-content: center;
    column-gap: 5vw;
}

.nav * {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(63, 63, 63);
}

.nav *:hover { 
    text-underline-position: under;
    text-decoration: underline olivedrab 3px;
} 

.order {
    row-gap: 1vh;
    height: 80%;
    column-gap: 0.075vw;
}

.order-button { 
    padding: min(5vh, 0.75rem) min(2.5vw, 0.75rem); 
    column-gap: 1vw;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    background: green;
    border-radius: 0.25rem;
}

.order-button > div > span {
    font-size: 1.25rem;
    font-weight: bold;
    
}

.fast-food-icon, .car-side-icon {
    font-size: 1.875rem;
}


