.locations {
    position: relative;
    width: 100%;
    height: 125vh;
    background: black;
}

.locations-opener {
    display: none;
    padding: 2vh 3vw 2vh 1vw;
    justify-content: center;
    column-gap: 1vw;
    position: absolute;
    top: 30%;
    left: 0;
    color: rgb(0, 170, 0);
    background: black;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 2px 0 3px rgb(124, 124, 124);
    z-index: 2;
}

.locations-opener * { width: fit-content; }

.locations-icon { font-size: clamp(1.375rem, 2vw, 2rem); }
.locations-opener > div { flex-direction: column; align-items: flex-start; }

.locations-opener > div > span {
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-style: oblique;
    text-transform: uppercase;
}

.locations-opener:hover * { text-decoration: underline; opacity: 0.9; }


.locations-opener.active { display: flex; }

.locations-wrapper {
    position: absolute;
    inset: 0 auto auto 0;
    padding-top: 15vh;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background: rgb(15, 15, 15);
    box-shadow: 2px 0 3px gray;
    z-index: 2;
    transition: all 0.4s ease-in;
}

.locations-wrapper.hide { display: none; width: 0; }

.map-icon {
    margin: 0 5% 0 auto;
    justify-content: center;
    column-gap: 0.125vw;
    color: rgb(180, 180, 180);
    border-bottom: 1px solid;
}

.map-icon:hover { opacity: 0.4; cursor: pointer; }

.map-icon * { font-size: 1rem; }

.map-icon > span {
    font-size: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
}

.locations-wrapper > h1, .order-options { width: 80%; }

.locations-wrapper > h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: bolder;
    font-style: oblique;
    text-transform: uppercase;
    color: rgb(180, 180, 180);
}

.order-options {
    position: relative;
    justify-content: space-around;
    height: 10vh;
    border: 1px solid;
    border-radius: 2rem;
    background: rgb(27, 27, 27);
    overflow: hidden;
}

.order-options > div:not(.active):hover {
    opacity: 0.4;
    cursor: pointer;
}

.carryout, .delivery {
    position: absolute;
    top: 0;
    column-gap: 1vw;
    justify-content: center;
    height: 100%;
    width: 50%;
    color: rgb(180, 180, 180);
}

.carryout { left: 0; }
.delivery { right: 0; }

.carryout.active, .delivery.active { width: 54%; color: white; background: green; z-index: 1; border-radius: 2rem; }

.carryout > span, .delivery > span {
    font-size: clamp(0.875rem, 1vw, 1.5rem);
    font-weight: bolder;
    font-style: oblique;
    text-transform: uppercase;
}

.car-side-icon, .fast-food-icon { font-size: clamp(1.25rem, 2vw, 2rem); }

@media (max-width: 75rem) {
    .locations-wrapper { padding-top: 5vh; }
}

@media (max-width: 50rem) {
    .car-side-icon, .fast-food-icon { display: none; }
}

@media (max-width: 40rem) {
    .locations-wrapper { width: 95%; box-shadow: 1px 1px 3px gray; }
    .order-options { flex-direction: column; height: 20vh; border-radius: 1rem; }
    .carryout, .carryout.active, .delivery, .delivery.active {position: relative; width: 100%; border-radius: 0;}
    .car-side-icon, .fast-food-icon { display: unset; }
}

@media (max-width: 15rem) {
    .car-side-icon, .fast-food-icon { display: none; }
}