.search-results {
    margin-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    height: 100%;
    color: rgb(180, 180, 180);
    background: rgb(22, 22, 22);
    overflow-y: auto;
}

.search-results::-webkit-scrollbar{
    width: 0.75rem;
    background-color: rgb(59, 59, 59);
}

.search-results::-webkit-scrollbar-track {
    background-color: rgb(59, 59, 59);
}

.search-results::-webkit-scrollbar-thumb{
    background: rgb(22, 22, 22);
    border-radius: 1rem;
}

.search-list { margin-bottom: auto; flex-direction: column; width: 100%; }

.search-empty {
    margin: 2vh auto auto auto;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 300;
}

.search {
    margin: 2vh auto 0 auto;
    padding: 1vh 1vh;
    flex-direction: column;
    min-height: 20vh;
    width: 90%;
    color: rgb(180, 180, 180);
    background: rgb(22, 22, 22);
    border: 1px solid rgb(59, 59, 59);
    border-radius: 0.5rem;
}

.search-name {
    margin: 0;
    font-size: clamp(0.875rem, 1.125vw, 1.125rem);
    color: orange;
}

.search-address, .search-hours, .search-phone, .search-distance {
    column-gap: 0.25vw;
    font-size: 300;
    color: rgb(180, 180, 180);
}

.search-address { justify-content: center; column-gap: 0; width: 100%; }
.location-icon { font-size: 1.4rem; }

.search-hours {
    margin: 1vh 0;
    justify-content: center; 
    font-style: oblique;
    font-size: 300;
    width: 100%;
}
.hours-icon { font-size: clamp(1.125rem, 1.5vw, 1.375rem); }
.search-hours > span { font-size: clamp(0.875rem, 1.125vw, 1.125rem); }

.search-address > span, .search-phone > span, .search-distance > span {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.search-footer { grid-template-columns: 50% 50%; width: 100%; }

.search-phone, .search-distance { margin-top: auto; justify-content: center; }

.search-phone {
    color: rgb(180, 180, 180);
    text-decoration: underline;
    text-underline-position: below;
}

.search-distance { color: orange; }

.car-icon { font-size: 1.25rem; }
.search-distance > span { font-size: clamp(0.875rem, 1.125vw, 1.125rem); }

.select-store {
    justify-content: center;
    padding: 1.5vh 1vw;
    margin: 2vh auto 0 auto;
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    font-weight: bolder;
    width: 75%;
    background: orange;
    border-radius: 0.5rem;
}

.select-store:hover { opacity: 0.7; }

.carryout-label { font-size: clamp(1.75rem, 2.5vw, 2.5rem); color: white; }

.carryout-close { float: right; }
.carryout-close * { font-size: clamp(1.75rem, 2.5vw, 2.5rem); color: rgb(180, 180, 180); }
.carryout-close *:hover { opacity: 0.7; }

.carryout-detail { padding: 1vh; border: 1px solid rgb(180, 180, 180); border-radius: 2rem; }

.carryout-location { color: white; }

.carryout-address { font-weight: 300; color: rgb(180, 180, 180); }

.carryout-buttons { margin: 5vh auto 0 auto; justify-content: space-evenly; flex-wrap: wrap; row-gap: 2vh; }

.carryout-buttons > button {
    margin: 0 auto;
    padding: 2vh 0;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: bold;
    font-style: oblique;
    border-radius: 0.5rem;
    width: 40%;
}

.carryout-buttons > button:hover { opacity: 0.7; }

.change-button {
    color: rgb(180, 180, 180);
    background: transparent;
    border: 1px solid;
}

.confirm-button {
    background: gold;
    border: 2px solid black;
}

@media (max-width: 25rem) {
    .search { width: 95%; }
    .carryout-buttons > button { width: 100%; }
}