
.slide { width: 50%; scroll-snap-align: start; }

.slide-wrapper {
    margin: 0 10vw;
    height: 90vh;
    width: 30vw;
}

.slide-wrapper * { width: 100%; }

.slide-quote {
    font-size: 1.125rem;
    font-weight: 500;
    color: rgb(180, 180, 180);
}

.slide-image {
    height: 40%;
    object-fit: cover;
}

.slide-label {
    padding: 0;
    margin: 0;
    font-size: clamp(1.25rem, 1.875vw, 1.875rem);
    font-weight: bolder;
    font-style: oblique;
    color: orange;
}

.slide-content {
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    font-weight: 300;
    color: rgb(180, 180, 180);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slide-button {
    padding: 1vh 2vw;
    justify-content: center;
    column-gap: 2vw;
    height: 10vh;
    width: 100%;
    color: white;
    background: darkgreen;
    border-radius: 0.25rem;
}

.slide-button:hover { opacity: 0.7; }

.slide-button > span {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    font-weight: bold;
    font-style: oblique;
    width: fit-content;
}

.arrow-right-icon {
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
    width: fit-content;
}

@media (max-width: 50rem) {
    .slide { width: 100%; }
    .slide-wrapper { margin: 0 10vw; width: 80vw; }
}

@media (max-width: 25rem) {
    .slide { padding: 1vh 0; box-shadow: 0 0 3px rgb(133, 133, 133); }
    .slide-wrapper { margin: 0; width: 100vw; height: fit-content; }
    .slide-image { height: 30%; }
    .slide-quote, .slide-label, .slide-content { padding: 0 2vw; }
    .slide-button { margin: 0 auto; width: 95%; }
    .arrow-right-icon { font-size: 1.5rem; }
}
