.slideshow { 
    position: relative;
    margin: 0 auto;
    padding-top: 15vh;
    min-height: 75vh;
    background: transparent;
    scroll-snap-type: x mandatory; 
    overflow-x: scroll;
    will-change: scroll-position;
    z-index: 1;
}

.slideshow::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.left-arrow, .right-arrow {
    position: fixed;
    padding: 2vh 2vh;
    top: 50%;
    font-size: 10rem;
    height: fit-content;
    background: green;
    box-shadow: 0 5px 5px;
    border-radius: 2rem;
}

.left-arrow {
    left: 2%;
}

.right-arrow { 
    right: 2%;
}

.left-arrow:hover, .right-arrow:hover { opacity: 0.7; }

.left-arrow-icon, .right-arrow-icon { font-size: 1.25rem; color: rgb(180, 180, 180); }
.left-arrow:hover .left-arrow-icon, .right-arrow:hover .right-arrow-icon { color: white; }

@media (max-width: 75rem) {
    .slideshow { padding-top: 3vh; }
}

@media (max-width: 25rem) {
    .left-arrow, .right-arrow { top: 40%; opacity: 0.4; }
}


@media (max-width: 15rem) {
    .slideshow { padding-top: 0; }
    .left-arrow, .right-arrow { top: 35%; }
    .left-arrow:hover, .right-arrow:hover { opacity: 1; }
}

